@model IEnumerable<BugTracker.Models.Comment>

@{
    ViewBag.Title = "Index";
}

<h1>Comments</h1>
<h3 class="text-center"><b>Comments for ticket:</b> @ViewBag.TicketTitle</h3>


<table class="table">
    <tr>
        <th>
            Date added
        </th>
        <th>
            Comment
        </th>
        <th>
            Commentor
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.CommentDate.ToShortDateString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.ASPUserName)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })*@
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Add new comment", "Create", new { id = ViewBag.TicketID }, new { id = ViewBag.TicketID, @class = "btn btn-success" })
</p>

