@model IEnumerable<BugTracker.Models.Ticket>

@{
    bool isAuth = User.IsInRole("Administrator") || User.IsInRole("Developer");
}

<table class="table">
    <tr>
        <th>
            Date Submitted
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        @*@if (isAuth)
            {
                <th>

                </th>
            }*@

        @*<th>
                @Html.DisplayNameFor(model => model.Resolution)
            </th>*@
        @*<th>
                @Html.DisplayNameFor(model => model.Project.ProjectName)
            </th>*@
        @*<th>
                @Html.DisplayNameFor(model => model.TicketPriority.Priority)
            </th>*@
        @* figure this out Later *************** *@
        @*<th>
            @Html.DisplayNameFor(model => model.TicketStatus.Status)
        </th>*@
        @*<th>
                @Html.DisplayNameFor(model => model.TicketType.Type)
            </th>*@
        @*<th>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User1.FirstName)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.CreatedDate.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Resolution)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.Project.ProjectName)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.TicketPriority.Priority)
                </td>*@
            @* figure this out Later *************** *@
            @*<td>
                @Html.DisplayFor(modelItem => item.TicketStatus.Status)
            </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.TicketType.Type)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.User1.FirstName)
                </td>*@
            <td class="btn-s">
                @Html.ActionLink("Go to Ticket", "Details", new { id = item.ID }, new { @class = "btn btn-sm btn-warning" })
            </td>
        </tr>
    }

</table>