@model IEnumerable<BugTracker.Models.TicketViewModel>

@using BugTracker.Models;
@using System.Dynamic;

@{
    Ticket currentSearch = ViewBag.MyTicket ?? new Ticket();
    ViewBag.CurrentSearch = ViewBag.CurrentSearch ?? new TicketViewModel();
    
}

@helper a(string prop, int value)
{
    @*@Url.Action("TicketTable", ViewBag.CurrentSearch.ToSearchObj(prop, value))*@
}


<p>
    I SHOULD PROBABLY PUT A BREAD CRUMB RIGHT HERE!
</p>
<table class="table">
    <tr>

        <th>@Html.DisplayNameFor(model => model.Title)</th>
        <th>@Html.DisplayNameFor(model => model.TicketStatus.Status)</th>
        <th>@Html.DisplayNameFor(model => model.AssignedToID)</th>
        <th>@Html.DisplayNameFor(model => model.DateLastUpdated)</th>
        <th>@Html.DisplayNameFor(model => model.TicketType.Type)</th>
        <th>@Html.DisplayNameFor(model => model.Description)</th>
        <th>@Html.DisplayNameFor(model => model.RelatedTicketID)</th>
        <th>Project</th>
        <th>@Html.DisplayNameFor(model => model.CreatedDate)</th>
        <th>@Html.DisplayNameFor(model => model.TicketSubmitterID)</th>
        <th>@Html.DisplayNameFor(model => model.TicketPriority.Priority)</th>
        <th></th>@*buttom column*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td><a href="@a("TicketStatusID", item.TicketStatus.ID)">@item.TicketStatus.Status</a></td>
            <td><a href="@a("AssignedToID", item.User1.ID)">@item.User1.ASPUserName</a></td>
            <td>@item.DateLastUpdated.ToShortDateString()<br /><i>(@((DateTime.Now - item.DateLastUpdated).Days) days ago)</i></td>
            <td><a href="@a("TicketTypeID", item.TicketType.ID)">@item.TicketType.Type</a></td>
            <td>@item.Description</td>
            <td><a href="@a("ID", item.Ticket1.ID)">@item.RelatedTicketID</a></td>
            <td><a href="@a("ProjectID", item.Project.ID)">@item.Project.ProjectName</a></td>
            <td>@item.CreatedDate.ToShortDateString()<br /><i>(@((DateTime.Now - item.CreatedDate).Days) days ago)</i></td>
            <td><a href="@a("TicketSubmitterID", item.User.ID)">@item.User.ASPUserName</a></td>
            <td><a href="@a("TicketPriorityID", item.TicketPriority.ID)">@item.TicketPriority.Priority</a></td>
            <td>
                <div class="btn-group-vertical">
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-default"})
                    @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-primary" })
                </div>
            </td>
        </tr>
    }

</table>
