@model PagedList.IPagedList<BugTracker.Models.Ticket>

@using BugTracker.Models;
@using PagedList;
@using PagedList.Mvc;

@{
    bool IsAdmin = User.IsInRole("Administrator");
    bool IsAuth = User.IsInRole("Administrator") || User.IsInRole("Developer");
}

@helper  AFilter(string prop, int? value, string sort = null, string orderA = null)
{
    // want sort to be the viewbag sort if nothing is passed in, which chould still be null.
    sort = sort ?? ViewBag.Sort;
    orderA = orderA ?? ViewBag.OrderA;

    // this has to accept nullable ints b/c some of the values can be null. but the function should only accept number.
    if (value != null)
    {
        @Url.Action("TicketTable", ViewBag.CurrentFilters.ToSearchObj(prop, (int)value, sort, orderA))
    }
}

@helper  ASort(string prop)
{
    // helper to create the sorting url.
    @Url.Action("TicketTable", ViewBag.CurrentFilters.ToSearchObj(null, 0, prop, PickOrder(prop).ToString().Trim()))
}

@helper  PickOrder(string prop)
{
    // function should return "Descending"(false) if I click on a property that's already being sorted Ascendingly.
    if (ViewBag.Sort == prop && ViewBag.OrderA != "false")
    {
        <text>false</text>
    }
}

@helper  AddArrow(string column)
{
    // Helper to add an appropriate arrow if sorting ascending or descending
    if (column == ViewBag.Sort)
    {
        if (ViewBag.OrderA == "false")
        {
            <span class="caret"></span>
        }
        else
        {
            <span class="dropup">
                <span class="caret"></span>
            </span>
        }
    }
}

@helper  MyPager() // helper to easily create a pager group, and not clutter up the page.
{
    <div class="text-center">
        @Html.PagedListPager(
    Model,
    (i) => Url.Action("TicketTable", new
    {
        ID = ViewBag.CurrentFilters.ID,
        TicketPriorityID = ViewBag.CurrentFilters.TicketPriorityID,
        TicketStatusID = ViewBag.CurrentFilters.TicketStatusID,
        AssignedToID = ViewBag.CurrentFilters.AssignedToID,
        ProjectID = ViewBag.CurrentFilters.ProjectID,
        TicketSubmitterID = ViewBag.CurrentFilters.TicketSubmitterID,
        TicketTypeID = ViewBag.CurrentFilters.TicketTypeID,
        sort = ViewBag.sort,
        orderAscending = ViewBag.orderA,
        page = i,
        pageSize = ViewBag.PageSize
    }),
    PagedListRenderOptions.MinimalWithItemCountText
    )
    </div>
}
@* ------------------------------------------------------------------------------------------------------------------------- *@


@MyPager()

<table class="table table-hover table-responsive text-center">
    <thead>
        <tr>
            <th class="col1"><span class="text-info">Title</span></th>
            <th class="col2"><a href="@ASort("TicketStatusID")">Status @AddArrow("TicketStatusID")</a></th>
            @if (IsAuth)
            {
                <th class="col3"><a href="@ASort("User1.ASPUserName")">Assigned developer @AddArrow("User1.ASPUserName")</a></th>
            }
            @if (IsAuth)
            {
                <th class="col4"><a href="@ASort("DateLastUpdated")">Date Last updated @AddArrow("DateLastUpdated")</a></th>
            }
            <th class="col5"><a href="@ASort("TicketTypeID")">Type @AddArrow("TicketTypeID")</a></th>
            <th class="col6"><span class="text-info">Description</span></th>
            @*<th class="col7"><a href="@ASort("ID")">Related ticket @AddArrow("ID")</a></th>*@
            <th class="col8"><a href="@ASort("Project.ProjectName")">Project @AddArrow("Project.ProjectName")</a></th>
            <th class="col9"><a href="@ASort("CreatedDate")">Date submitted @AddArrow("CreatedDate")</a></th>
            @if (IsAuth)
            {
                <th class="col10"><a href="@ASort("User.ASPUserName")">Submitter @AddArrow("User.ASPUserName")</a></th>
                <th class="col11"><a href="@ASort("TicketPriorityID")">Priority level @AddArrow("TicketPriorityID")</a></th>
            }
            <th></th>@*buttom column*@
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (var item in Model)
        {
            <tr>
                <td class="col1">@item.Title</td>
                <td class="col2">@item.TicketStatus.Status</td>
                @if (IsAuth)
                {
                    <td class="col3">@((item.User1 != null) ? item.User1.ASPUserName : "")</td>
                }
                @if (IsAuth)
                {
                    <td class="col4">@item.DateLastUpdated.ToShortDateString()<br /><i>(@((DateTime.Now - item.DateLastUpdated).Days) days ago)</i></td>
                }
                <td class="col5">@item.TicketType.Type</td>
                <td class="col6">@item.Description</td>
                @*<td class="col7">@item.RelatedTicketID</td>*@
                <td class="col8">@item.Project.ProjectName</td>
                <td class="col9">@item.CreatedDate.ToShortDateString()<br /><i>(@((DateTime.Now - item.CreatedDate).Days) days ago)</i></td>
                @if (IsAuth)
                {
                    <td class="col10">@item.User.ASPUserName</td>
                    <td class="col11">@item.TicketPriority.Priority</td>
                }
                <td>
                    <div class="btn-group-vertical">
                        @if (IsAdmin)
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-default ignore" })
                        }
                        @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-primary ignore" })
                    </div>
                </td>
            </tr>
        }
    </tbody>

</table>
@MyPager()
