@model BugTracker.Models.Ticket

@{
    ViewBag.Title = "Details";
    bool IsAdmin = User.IsInRole("Administrator");
    bool IsAuth = IsAdmin || User.IsInRole("Developer");
}

@helper IsAdmin()
{

}


<h1>
    <b>Ticket:</b> @Model.Title
</h1>


<div class="row">

    <div class="col-md-5">
        <table id="detailsTable" class="table table-condensed">
            <tbody>
                @if (IsAuth)
                {
                    <tr>
                        <td><b>Ticket Submitter</b></td>
                        <td>@Html.DisplayFor(model => model.User.ASPUserName)</td>
                    </tr>
                }
                @if (IsAuth)
                {
                    <tr>
                        <td><b>Assigned developer</b></td>
                        <td>@Html.DisplayFor(model => model.User1.ASPUserName)</td>
                    </tr>
                }
                <tr>
                    <td><b>Date submitted</b></td>
                    <td>@Model.CreatedDate.ToShortDateString()</td>
                </tr>
                <tr>
                    <td>
                        <p></p>
                        <p><b>Description</b></p>
                        <p></p>
                    </td>
                    <td>
                        <p></p>
                        <p>@Html.DisplayFor(model => model.Description)</p>
                        <p></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p></p>
                        <p><b>Resolution</b><br /></p>
                        <p></p>
                    </td>
                    <td>
                        <p></p>
                        <p>
                            @* if this is the developer working on the ticket, they should have the ability to add the resolution. *@
                            @if (User.Identity.Name == Model.User1.ASPUserName && (Model.Resolution == null || Model.Resolution == ""))
                            {
                                @Html.ActionLink("Submit a Resolution", "AddResolution", new { id = Model.ID }, new { @class = "btn btn-success" })
                            }
                            @Html.DisplayFor(model => model.Resolution)
                        </p>
                        <p></p>
                    </td>

                </tr>
                @if (IsAuth)
                {
                    <tr>
                        <td><b>Date last updated</b></td>
                        <td>@Model.DateLastUpdated.ToShortDateString()</td>
                    </tr>
                }
                <tr>
                    <td><b>Project</b></td>
                    <td>@Html.DisplayFor(model => model.Project.ProjectName)</td>
                </tr>
                <tr>
                    <td><b>Ticket type</b></td>
                    <td>@Html.DisplayFor(model => model.TicketType.Type)</td>
                </tr>
                @if (IsAuth)
                {
                    <tr>
                        <td><b>Ticket status</b></td>
                        <td>@Html.DisplayFor(model => model.TicketStatus.Status)</td>
                    </tr>
                    <tr>
                        <td><b>Priority level</b></td>
                        <td>@Html.DisplayFor(model => model.TicketPriority.Priority)</td>
                    </tr>
                }
            </tbody>
        </table>



        <p>
            @Html.ActionLink("Back to Tickets", "Index", null, new { @class = "btn btn-info" })
            @if (IsAdmin)
            {
                @Html.ActionLink("Edit Ticket", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary text-right" })
            }
        </p>

    </div>

    <div class="col-md-7">
        @if (IsAuth)
        {
            <details class="alert alert-info">

                @{ Html.RenderAction("Index", "Comments", new { id = Model.ID }); }
            </details>

            <details class="alert alert-success">

                @{ Html.RenderAction("Index", "TicketAttachments", new { id = Model.ID }); }
            </details>

            <details class="alert alert-info">

                @{ Html.RenderAction("Index", "Notifications", new { TicketID = Model.ID }); }
            </details>

            <details class="alert alert-success">

                @{ Html.RenderAction("Index", "TicketHistory", new { id = Model.ID }); }
            </details>
        }

    </div>
</div>
