@model BugTracker.Models.Ticket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>@Html.DisplayNameFor(model => model.User.ASPUserName)</dt>
        <dd>@Html.DisplayFor(model => model.User.ASPUserName)</dd>

        <dt>@Html.DisplayNameFor(model => model.User1.ASPUserName)</dt>
        <dd>@Html.DisplayFor(model => model.User.ASPUserName)</dd>

        <dt>@Html.DisplayNameFor(model => model.CreatedDate)</dt>
        <dd>@Html.DisplayFor(model => model.CreatedDate)</dd>

        <dt>@Html.DisplayNameFor(model => model.Description)</dt>
        <dd>@Html.DisplayFor(model => model.Description)</dd>

        <dt>@Html.DisplayNameFor(model => model.Resolution)</dt>
        <dd>@Html.DisplayFor(model => model.Resolution)</dd>

        <dt>@Html.DisplayNameFor(model => model.DateLastUpdated)</dt>
        <dd>@Html.DisplayFor(model => model.DateLastUpdated)</dd>

        <dt>@Html.DisplayNameFor(model => model.Project.ProjectName)</dt>
        <dd>@Html.DisplayFor(model => model.Project.ProjectName)</dd>

        <dt>@Html.DisplayNameFor(model => model.TicketPriority.Priority)</dt>
        <dd>@Html.DisplayFor(model => model.TicketPriority.Priority)</dd>

        <dt>@Html.DisplayNameFor(model => model.TicketStatus.Status)</dt>
        <dd>@Html.DisplayFor(model => model.TicketStatus.Status)</dd>

        <dt>@Html.DisplayNameFor(model => model.TicketType.Type)</dt>
        <dd>@Html.DisplayFor(model => model.TicketType.Type)</dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
