@model BugTracker.Models.Ticket

@{
    ViewBag.Title = "Details";
    bool IsAdmin = User.IsInRole("Administrator");
    bool IsAuth = IsAdmin || User.IsInRole("Developer");
}

@helper IsAdmin()
{

}


<h2><b>Ticket:</b> @Model.Title</h2>

<hr />
<div class="row">

    <div class="col-md-5">
        <dl class="dl-horizontal">

            @if (IsAuth)
            {
                <dt>Ticket Submitter</dt>
                <dd>@Html.DisplayFor(model => model.User.ASPUserName)</dd>
            }

            @if (IsAdmin)
            {
                <dt>Assigned developer</dt>
                <dd>@Html.DisplayFor(model => model.User1.ASPUserName)</dd>
            }

            <dt>Date submitted</dt>
            <dd>@Model.CreatedDate.ToShortDateString()</dd>

            <dt>Description</dt>
            <dd>@Html.DisplayFor(model => model.Description)</dd>

            <dt>Resolution</dt>
            <dd>@Html.DisplayFor(model => model.Resolution)</dd>

            @if (IsAuth)
            {
                <dt>Date last updated</dt>
                <dd>@Model.DateLastUpdated.ToShortDateString()</dd>
            }

            <dt>Project</dt>
            <dd>@Html.DisplayFor(model => model.Project.ProjectName)</dd>

            <dt>Ticket type</dt>
            <dd>@Html.DisplayFor(model => model.TicketType.Type)</dd>

            @if (IsAuth)
            {
                <dt>Ticket status</dt>
                <dd>@Html.DisplayFor(model => model.TicketStatus.Status)</dd>

                <dt>Priority level</dt>
                <dd>@Html.DisplayFor(model => model.TicketPriority.Priority)</dd>
            }
        </dl>

        @if (IsAdmin)
        {
            <p>
                @Html.ActionLink("Edit Ticket", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" })
            </p>
        }

        <p>
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
        </p>

    </div>

    <div class="col-md-7">
        @if (IsAuth)
        {


            <details class="alert alert-info">
                <summary class="text-center"><b>Comments </b><span class="badge">0</span></summary>
                @(Html.Action("Index", "Comments", new { id = Model.ID }))
            </details>

            <details class="alert alert-success">
                <summary class="text-center"><b>Attachments </b><span class="badge">0</span></summary>
                @{ Html.RenderAction("Index", "TicketAttachments", new { id = Model.ID }); }
            </details>

            <details class="alert alert-info">
                <summary class="text-center"><b>Notifications </b><span class="badge">0</span></summary>
                @(Html.Action("Index", "Notifications", new { TicketID = Model.ID }))
            </details>

            <details class="alert alert-success">
                <summary class="text-center"><b>History </b><span class="badge">0</span></summary>
                @*@(Html.Action("Index", "Comments", new { id = Model.ID }))*@
            </details>

        }

    </div>
</div>