@model BugTracker.Models.NotificationViewModel

@{
    ViewBag.Title = "Create";
    Model.TicketID = ViewBag.TicketID;
}

<h2>Notification</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.TicketID)
        @*<div class="form-group">
                @Html.LabelFor(model => model.TicketID, "TicketID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("TicketID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TicketID, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.ToID, "To Person", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ToID", null, "-- Select Recipiant --", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ToID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Notification1, "Notification", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea class="form-control" name="Notification1">@Model.Notification1</textarea>
                @Html.ValidationMessageFor(model => model.Notification1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Send Notification" class="btn btn-default" />
                @Html.ActionLink("Cancel", "Details", "Tickets", new { id = ViewBag.TicketID }, new { @class = "btn btn-warning" })
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
