@model IEnumerable<BugTracker.Models.Project>

@{
    ViewBag.Title = "Projects";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            Project
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID })<br />
            @Html.ActionLink("Add People", "AddUsers", "Projects", new { projectID = item.ID }, null)<br />
            @Html.ActionLink("Remove People", "RemoveUsers", "Projects", new { projectID = item.ID }, null)<br />
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>